<%- include('../components/header.ejs') -%>
<%- include('../components/menuNavegacion.ejs') -%>

    <div class="mainContainer">
        <div class="centeringContainer">
            <h1 class="tituloSeccion">Modificar Usuario</h1>
            <form action="/usuarios/actualizar" method="post">
                <input type="hidden" name="idUsuario" value="<%= usuario._id %>">
                <div class="formContent">
                    <div class="formImagen">
                        <div class="square" id="XXXXXXX"></div>
                        <input type="file" id="imagenActividad" style="display: none;">
                        <label for="imagenActividad" id="customUploadText">
                            <p>Elegir imagen</p>
                        </label>
                    </div>
                    <div class="formCampos">
                        <div class="formText">
                            <label for="nombreUsuario">Nombre del usuario</label><br>
                            <input type="text" id="nombreUsuario" name="nombre" required value="<%= usuario.nombre %>">
                        </div>
                        <div class="formText">
                            <label for="apellidoUsuario">Apellido del usuario</label><br>
                            <input type="text" id="apellidoUsuario" name="apellido" required value="<%= usuario.apellido %>">
                        </div>
                        <div class="formText">
                            <label for="correoUsuario">Correo institucional</label><br>
                            <input type="text" id="correoUsuario" name="correo" required value="<%= usuario.correo %>">
                        </div>
                        <div class="formText">
                            <label for="identidad">ID</label><br>
                            <input type="text" id="identidad" name="ids" required value="<%= usuario.ids %>">
                        </div>
                    </div>
                </div>
                <div class="formButtonsContainer">
                    <input type="submit" class="formButton" id="formButtonAzul" value="Guardar">
                    <input type="submit" class="formButton" id="formButtonRojo" value="<%= usuario.estado ? 'Inhabilitar' : 'Habilitar' %>">
                </div>
            </form>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('formButtonRojo').addEventListener('click', function(event) {

                // Create a hidden input field for estado
                const hiddenInput = document.createElement('input');
                hiddenInput.type = 'hidden';
                hiddenInput.name = 'estado';
                hiddenInput.value = "<%= usuario.estado ? 'false' : 'true' %>";

                // Append the hidden input field to the form
                const form = document.querySelector('form');
                form.appendChild(hiddenInput);

                // Submit the form
                form.submit();
            });

        });
    </script>

    <%- include('../components/footer.ejs') -%>
</body>
</html>